* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat, Verdana, sans-serif;
  line-height: 1.6;
}

header {
  background-color: black;
  background-size: 100%;
  height: 15vh;

  background-position-y: 0px;
  padding-bottom: 20px; 
}

@media (max-width: 830px) {
  header {
    height: 18vh;
  }
}
.header-wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
  justify-content: space-between;
}

.heading-container {
  width: 40%;
}

.mainName {
  font-family: Montserrat, Verdana, sans-serif;
  color: white;
  padding: 0.5rem;
  font-size: 2rem;
  margin: 0;
  display: flex;
  width: 1rem;
  flex-wrap: wrap;
}

.mainName > a {
  text-decoration: none;
}
.mainName > a:hover {
  text-decoration: underline;
}


nav {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

nav > ul {
  gap: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
}

nav > ul > li {
  list-style: none;

}

nav > ul > li > a {
  text-decoration: none;
}

nav > ul > li > a:hover {
  text-decoration: underline;
}

main {
  padding: 1rem;
  min-height: 80vh;
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 830px) {
  main {
    min-height: 77vh;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 1px solid #c0c0c0;
  height: 5vh;
}